/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
/* Header top alignment */
.header-top{
	color: lightgray;
	font-family: 'Titillium Web';
	font-size: 13px;
	font-weight: 5px;
	padding: 30px 25px 25px 10px;
	border: 0px solid black;
	width: 70%;
	height: 70%;
	margin-left: 10%;
	display: inline-block;
	box-sizing: border-box;
}

/* Navigation bar alignment */
header nav a{
	color: lightgray;
	font-family: 'Titillium Web';
	font-size: 15px;
	font-weight: 200px;
	border: 0px solid black;
	margin: 0px 70px 70px 0px;
	padding-left: 0px;
	text-decoration: none;
	display: inline-block;
	
}

/* Innovation on demand - wording section alignment */
.header-top .header-type{
	display: inline-block;
	padding-right: 80px;
	vertical-align: center;
}

/* Header section alignment */
.header-top .text-content{
	display: inline-block;
	width: 45%;
	padding-left: 150px;
	padding-top: 10px;
	align-content: right;
}

/* get started button */
.header-button{
	border: 1px solid black;
	font-family: 'Titillium Web';
	padding: 4px 50px 4px 50px;
	font-size: 15px;
	margin-left: 100px;
}

/* Innovation on demand h1 properties */
.header-h1{
	font-size: 80px;
	text-align: center;
	color: black;
	width: 310px;
	height: 250px;
	border: 0px solid black;
	margin: 10%
}

/* Bottom section content */
.bottom-content .text-content{
	display: inline-block;
	width: 250px;
	font-family: 'Titillium Web';
	font-size: 16px;
	text-align: left;
	margin: 2% 0 0 10%;
	
}

/* Features and about section */
.top-content .text-content{
	display: inline-block;
	width: 425px;
	font-family: 'Titillium Web';
	font-size: 16px;
	text-align: left;
	margin: 1% 5% 0% 10%;
	vertical-align: top;
	padding-left: 0px;
}

/* Horizontal line */
hr {
	width: 1110px;
	margin-left: 150px;
	border-top: 1px solid black;
}

/* Middle image*/
.middle-img{
	margin: 0% 0% 0% 10%;
	width: 70%;
	border: 1px solid black;
}

/* Footer */
footer{
	width: 80%;
	margin-left: 10%;
	font-family: 'Titillium Web';
	font-size: 15px;
}